@charset "UTF-8";
@media (max-width: 992px) {
  body {
    font-size: 25pt !important; } }
body div#top-menu #menu-items {
  background-color: #343a40 !important; }
  body div#top-menu #menu-items a {
    color: white !important; }
body .review-border {
  border: 2px solid gray; }
@media (min-width: 992px) {
  body div#content {
    width: 992px; } }
body div#content .phone-container {
  height: 100%;
  width: 100%;
  color: white;
  background: url("/images/phone-bg.png") no-repeat top left;
  background-size: auto 100%;
  text-align: center; }
  @media (min-width: 992px) {
    body div#content .phone-container {
      font-size: 1.2em; } }
  @media (max-width: 992px) {
    body div#content .phone-container {
      padding: 10px 10px 10px 178px; } }
  @media (min-width: 992px) {
    body div#content .phone-container {
      padding: 10px 10px 10px 88px; } }
  body div#content .phone-container span {
    display: block; }
  body div#content .phone-container a {
    color: white;
    font-weight: bold; }
@media only screen and (max-width: 768px) {
  body div#content .stars h3 {
    display: inline; } }
body div#content div#black-rows div {
  background-color: black;
  margin: 0; }
  body div#content div#black-rows div a.text-dark {
    margin: 5px;
    color: white !important;
    background: url("/images/locks/strelka.svg") no-repeat center left;
    background-size: auto 100%;
    display: block; }
    @media only screen and (min-width: 992px) {
      body div#content div#black-rows div a.text-dark {
        padding-left: 44px; } }
    @media only screen and (max-width: 992px) {
      body div#content div#black-rows div a.text-dark {
        font-size: 0.7em;
        padding-left: 36px; } }
@media (min-width: 992px) {
  body div#content #galochki-parent {
    width: 60%; } }
body div#content div.galochka {
  background: url("/images/locks/galochka.svg") no-repeat center left;
  background-size: 40px;
  padding: 5px 5px 5px 45px;
  margin: 0 0 10px 10px; }
body div#content img#strelka2 {
  width: 20%; }
body div#content .effect {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top left; }
body div#content hr {
  border: 2px solid gray; }
body div#content #experts {
  background-color: silver; }
  @media (min-width: 992px) {
    body div#content #experts {
      column-count: 2; } }
  body div#content #experts img#strelka {
    width: 70px; }
body div#content #services-list {
  background-color: #3C4763;
  color: white; }
  body div#content #services-list div:before {
    content: "✓"; }
  @media (min-width: 992px) {
    body div#content #services-list {
      column-count: 3; } }
body div#content #address span {
  margin: 10px; }
body div#content #address #phone-bottom {
  color: black;
  font-weight: bold; }
  @media only screen and (max-width: 992px) {
    body div#content #address #phone-bottom {
      font-size: 1.2em; } }
body div#content #address img#man-and-door {
  width: 100%;
  margin-bottom: 10px; }
@media only screen and (max-width: 992px) {
  body div#content #address img#navigator {
    height: 70px; } }
@media only screen and (max-width: 992px) {
  body div#content #address img#phone {
    height: 70px; } }
body div#content #blog-index h1 {
  background-color: gray;
  padding: 5px; }
  body div#content #blog-index h1 a {
    color: white; }
body div#content #content-Blogs a {
  color: black; }
body div#content #content-Blogs img {
  display: none; }
body div#content #content-Blogs h2.title {
  background: url("/images/locks/blogs.png") no-repeat center left;
  padding-left: 48px; }
  body div#content #content-Blogs h2.title a {
    color: #163452; }
body div#content #content-Blogs .stars {
  display: none !important; }
body div#content #content-Services {
  font-size: 16pt !important; }
  body div#content #content-Services img {
    display: block;
    margin: auto; }
  body div#content #content-Services a {
    color: black; }
  body div#content #content-Services h2.title {
    padding: 5px;
    background-color: grey;
    color: white; }
    body div#content #content-Services h2.title a {
      color: white; }
  body div#content #content-Services h2.title:before {
    padding: 0 10px;
    content: ">";
    color: red; }
  body div#content #content-Services .stars {
    display: none !important; }

/*# sourceMappingURL=locks.css.map */
